
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link href="~/SellMenuCss/LoginRegisterFormCss.css" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    
    <form action="#" class="sign-up-form">
        <h2 class="title">Üye Ol</h2>
        <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Kullanıcı Adı" />
        </div>

        <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Şifre" />
        </div>
        <input type="submit" class="btn" value="Üye Ol" />
        <button class="btn" type="submit">Üye Ol</button>


    </form>
</body>
</html>
